
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body{
    background-color:teal;
}
*{
    font-family: 'VT323', monospace;
}
.wrapper{
    width:1440px;
    min-height:200px;
    margin:auto;
}
.header{
    width:100%;
    height:323px;
    background-image:url("/imgs/header\ \(4\).png");
    background-size: cover;
}
.content{
    width:1440px;
    min-height:200px;
    margin:auto;
}
.info{
    padding-top:212px;
    width:1440px;
    height:436px;
    background-image:url("/imgs/Group\ 1\ \(1\).png");
}
.info-box{
    width:1392px;
    height:224px;
    margin-left:24px;
    margin-right:24px;
    background-color:white;
    opacity:70%;
    font-size:52px; 
    color:black;
}
.info-box p{
    margin:0;
    text-align:justify;
}
.platform, .shooter, .racing, .strategy{
    width:1440px;
    min-height:200px;
}
.sonic{
    width:1440px;
    height:750px;
    background-image:url("/imgs/Rectangle\ 2\ \(1\).png");
    display:flex;
}
.sonic img{
    margin-right:36px;
    margin-left:27px;
    margin-top:175px;
    width:400px;
    height:400px;
}
.sonic-box{
    width:513px;
    height:740px;
    background-color:black;
    opacity:70%;
    font-size:35px;
    padding-top:10px;
    color:blue;
    font-family: 'VT323', monospace;
    text-align:justify;
}
.mario{
    width:1440px;
    height:950px;
    background-image:url("/imgs/image\ \(18\).png");
    background-size:cover;
}
.mario-box{
    width:1016px;
    height:400px;
    font-family: 'VT323', monospace;
    color:#CC8300;
    margin-top:15px;
    margin-left:245px;
    font-size:48px;
    background-color:black;
    opacity:70%;
}
.doom{
    width:1440px;
    height:900px;
    background-image:url("/imgs/image\ 13.png");
    display:flex;
}
.doom-box{
    width:634px;
    height:394px;
    margin-top:175px;
    margin-left:390px;
    font-family: 'VT323', monospace;
    color:red;
    background-color:black;
    opacity:70%;
    font-size:33px;
}
.doom img{
    width:326px;
    height:326px;
    margin-top:208px;
    margin-left:45px;
}
.hl{
    width:1440px;
    height:500px;
    background-image:url("/imgs/image\ 15.png");
    padding-top:400px;
}
.hl-box{
    width:567px;
    height:408px;
    background-color:black;
    opacity:70%;
    font-family: 'VT323', monospace;
    font-size:29px;
    margin-left:1px;
    color:#936333;
    text-align:justify;
}
.nfs{
    width:1440px;
    height:710px;
    background-image:url("imgs/image\ 22.png");
    padding-top:100px;
}
.nfs-box{
    width:837px;
    height:300px;
    background-color:black;
    color:red;
    opacity:70%;
    font-family:'VT323', monospace;
    font-size:29px;
    margin-left:301px;
}
.cnc{
    width:1440px;
    height:381px;
    background-image:url("imgs/image\ 24.png");
    padding-top:575px;
}
.cnc-box{
   width:804px;
   height:310px;
   margin-left:20px;
   background-color:black;
   opacity:70%;
   font-family:'VT323', monospace;
   font-size:28px;
   color:#936333;
}
.footer{
    width:1440px;
    height:70px;
    background: linear-gradient(#F4D478, teal);
    font-size:30px;
    text-align:center;
    color:black;
    padding-top:30px;
}
.footer p{
    margin:0;
}
